<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    bootstrap="tests/bootstrap.php"
    cacheResult="false"
    forceCoversAnnotation="true"
    >
    <testsuites>
        <testsuite name="Integration Tests">
            <directory>tests/integration-tests</directory>
        </testsuite>

        <testsuite name="Unit Tests">
            <directory>tests/unit-tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
